

@font-face{
    font-family: 'Times New Roman';
    src: url('../fonts/times-new-roman/times-new-roman.ttf');
}


 
h1, h2, h3, h4 {
    font-family: 'Times New Roman', serif !important;
}

p, a, h5, h6 {
    font-family: Poppins, sans-serif !important;
}

